html {
    height: 100%;
    font-family: sans-serif;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
   font-weight: bold;
   line-height: 18px;
   color: #555;
}

.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

div.logo {
    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 100;
    text-align: center;
    border-radius: .2em;
    padding: 0 .2em .1em .2em;
}
div.logo > h1 {
    font-family: 'Piedra';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    font-size: 4em;
    margin: 0;
}

div.logo > h1 > a {
    color: white;
    text-decoration: none;
}

div.logo > h2 {
    font-family: 'Titan one';
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 0;
    color: white;
}

div.country {
    font-size: 2em;
    font-weight: bold;
    position: absolute;
    bottom: 1em;
    left: 1em;
    z-index: 100;
    padding: .5em;
    line-height: 1.1em;
    width: 300px;
    text-align: center;
}

.angular-leaflet-map {
    height: 100%;
}
