html(ng-app="persona")
    body(ng-controller="PersonaCtrl")
        div(ng-hide="verified")
            button(ng-click="verify()") Verify Identity
        div(ng-show="verified")
            | Hello {{email}}
            br
            button(ng-click="logout()") Log Out
        div(ng-show="error")
            strong {{error}}
    script(src="https://login.persona.org/include.js")
    script(src="angular.js")
    script(src="persona.js")
