<html ng-app="geoapp">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link href='http://fonts.googleapis.com/css?family=Piedra' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titan+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="http://cloud.github.com/downloads/lafeber/world-flags-sprite/flags32.css" />
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.3/leaflet.ie.css" />
    <![endif]-->
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-controller="GeoqueryController">
    <div class="navbar navbar-fixed-top topmenu">
        <a class="navbar-brand" href="#">Geoquery</a>
        <ul class="nav navbar-nav pull-right">
            <li><a href="#">About</a></li>
            <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Select a Map&nbsp;<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="#/world">World</a>
                    <li><a href="#/africa">Africa</a>
                    <li><a href="#/asia">Asia</a>
                    <li><a href="#/europe">Europe</a>
                    <li><a href="#/northamerica">North America</a>
                    <li><a href="#/oceania">Oceania</a>
                    <li><a href="#/southamerica">South America</a>
                </ul>
            </li>
            <li class="space" ng-switch on="verified">
                <button class="btn btn-default navbar-btn" ng-click="verify()" ng-switch-when="false">Join the game</a>
                <button ng-switch-when="true" class="btn btn-success navbar-btn dropdown-toggle" data-toggle="dropdown">Your account&nbsp;<span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li><a href="#">Preferences</a>
                    <li><a href="#">Statistics</a>
                    <li><a href="#" ng-click="logout()">Logout</a>
                </ul>
            </li>
        </ul>
    </div>
    <div class="info leftbar" ng-show="map" ng-cloak>
        <h2>{{ name }}</h2>
        <p>{{ actual.name }}</p>
        <p>Countries left: {{ left }}</p>
    </div>
    <leaflet center="center" legend="legend" geojson="geojson" defaults="defaults" maxbounds="maxbounds" testing="testing"></leaflet>

    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
    <script src="bower_components/angular-leaflet/src/angular-leaflet-directive.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/app.js" /></script>
    <script src="js/persona.js" /></script>
    <script src="https://login.persona.org/include.js"></script>
  </body>
</html>
